body, html {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: Metamophous;
  letter-spacing: 1px;
}


.hero-image {
background-image: linear-gradient(rgba(0, 0, 0, 0.8), rgba(0, 0, 0, 0.5)), url("/resources/pexels-liuuu-_61-2383408-30321918.jpg");
border: none;
outline: none;

height: 100%;

background-position: center;
background-repeat: no-repeat;
background-size: cover;
position: relative;
}

.hero-text {
text-align: center;
position: absolute;
top: 50%;
left: 50%;
transform: translate(-50%, -50%);
color: #E6D8C3;
font-size: larger;
}

.button {
color: #212121;
font-family: Metamophous;
font-size: 16px;
border: none;
border-radius: 0px 0px 8px 8px;
outline: none;
padding: 10px 16px;
background-color: #E6D8C3;
cursor: pointer;
transition: 0.1s;
}

.button:hover {
border-radius: 10px;
}

.button:active {
background-color: #C2A68C;;
}
